<a href="https://colab.research.google.com/github/Dudukrop/Titanic_LogisticRegression/blob/main/Titanic_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
treino = pd.read_csv('train.csv')
treino

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
teste = pd.read_csv('test.csv')
teste

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
base_completa = pd.concat([treino, teste])
base_completa

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,NaN,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
base_completa.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,1309.000000,891.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000
mean,655.000000,0.383838,2.294882,29.881138,0.498854,0.385027,33.295479
std,378.020061,0.486592,0.837836,14.413493,1.041658,0.865560,51.758668
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,0.000000,2.000000,21.000000,0.000000,0.000000,7.895800
50%,655.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,1.000000,3.000000,39.000000,1.000000,0.000000,31.275000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200

In [ ]:
base_completa.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

In [ ]:
base_completa

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0.0,3,male,22.0,1,0,7.2500,S
1,2,1.0,1,female,38.0,1,0,71.2833,C
2,3,1.0,3,female,26.0,0,0,7.9250,S
3,4,1.0,1,female,35.0,1,0,53.1000,S
4,5,0.0,3,male,35.0,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,male,NaN,0,0,8.0500,S
414,1306,NaN,1,female,39.0,0,0,108.9000,C
415,1307,NaN,3,male,38.5,0,0,7.2500,S
416,1308,NaN,3,male,NaN,0,0,8.0500,S
417,1309,NaN,3,male,NaN,1,1,22.3583,C

In [ ]:
base_completa.isnull().sum()

PassengerId      0
Survived       418
Pclass           0
Sex              0
Age            263
SibSp            0
Parch            0
Fare             1
Embarked         2
dtype: int64

In [ ]:
base_completa['Age'].fillna(base_completa['Age'].mean(), inplace=True)

In [ ]:
base_completa['Fare'].fillna(base_completa['Fare'].mean(), inplace=True)

In [ ]:
base_completa['Embarked'].value_counts()

Embarked
S    914
C    270
Q    123
Name: count, dtype: int64

In [ ]:
base_completa['Embarked'].fillna('S', inplace=True)

In [ ]:
base_completa.isnull().sum()

PassengerId      0
Survived       418
Pclass           0
Sex              0
Age              0
SibSp            0
Parch            0
Fare             0
Embarked         0
dtype: int64

In [ ]:
treino = base_completa[base_completa['Survived'].notnull()]
teste = base_completa[base_completa['Survived'].isnull()]

In [ ]:
treino

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0.0,3,male,22.000000,1,0,7.2500,S
1,2,1.0,1,female,38.000000,1,0,71.2833,C
2,3,1.0,3,female,26.000000,0,0,7.9250,S
3,4,1.0,1,female,35.000000,1,0,53.1000,S
4,5,0.0,3,male,35.000000,0,0,8.0500,S
...,...,...,...,...,...,...,...,...,...
886,887,0.0,2,male,27.000000,0,0,13.0000,S
887,888,1.0,1,female,19.000000,0,0,30.0000,S
888,889,0.0,3,female,29.881138,1,2,23.4500,S
889,890,1.0,1,male,26.000000,0,0,30.0000,C
890,891,0.0,3,male,32.000000,0,0,7.7500,Q

In [ ]:
teste

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
0,892,NaN,3,male,34.500000,0,0,7.8292,Q
1,893,NaN,3,female,47.000000,1,0,7.0000,S
2,894,NaN,2,male,62.000000,0,0,9.6875,Q
3,895,NaN,3,male,27.000000,0,0,8.6625,S
4,896,NaN,3,female,22.000000,1,1,12.2875,S
...,...,...,...,...,...,...,...,...,...
413,1305,NaN,3,male,29.881138,0,0,8.0500,S
414,1306,NaN,1,female,39.000000,0,0,108.9000,C
415,1307,NaN,3,male,38.500000,0,0,7.2500,S
416,1308,NaN,3,male,29.881138,0,0,8.0500,S
417,1309,NaN,3,male,29.881138,1,1,22.3583,C

In [ ]:
X_treino = treino.drop(['Survived'], axis = 1)
y_treino = treino['Survived']
X_teste = teste.drop(['Survived'], axis = 1)
y_teste = teste['Survived']

In [ ]:
y_treino = y_treino.astype(int)
y_treino

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [ ]:
X_treino

     PassengerId  Pclass     Sex        Age  SibSp  Parch     Fare Embarked
0              1       3    male  22.000000      1      0   7.2500        S
1              2       1  female  38.000000      1      0  71.2833        C
2              3       3  female  26.000000      0      0   7.9250        S
3              4       1  female  35.000000      1      0  53.1000        S
4              5       3    male  35.000000      0      0   8.0500        S
..           ...     ...     ...        ...    ...    ...      ...      ...
886          887       2    male  27.000000      0      0  13.0000        S
887          888       1  female  19.000000      0      0  30.0000        S
888          889       3  female  29.881138      1      2  23.4500        S
889          890       1    male  26.000000      0      0  30.0000        C
890          891       3    male  32.000000      0      0   7.7500        Q

[891 rows x 8 columns]

In [ ]:
X_teste

     PassengerId  Pclass     Sex        Age  SibSp  Parch      Fare Embarked
0            892       3    male  34.500000      0      0    7.8292        Q
1            893       3  female  47.000000      1      0    7.0000        S
2            894       2    male  62.000000      0      0    9.6875        Q
3            895       3    male  27.000000      0      0    8.6625        S
4            896       3  female  22.000000      1      1   12.2875        S
..           ...     ...     ...        ...    ...    ...       ...      ...
413         1305       3    male  29.881138      0      0    8.0500        S
414         1306       1  female  39.000000      0      0  108.9000        C
415         1307       3    male  38.500000      0      0    7.2500        S
416         1308       3    male  29.881138      0      0    8.0500        S
417         1309       3    male  29.881138      1      1   22.3583        C

[418 rows x 8 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
X_treino['Sex'] = label_encoder.fit_transform(X_treino['Sex'])
X_treino['Embarked'] = label_encoder.fit_transform(X_treino['Embarked'])
X_teste['Sex'] = label_encoder.fit_transform(X_teste['Sex'])
X_teste['Embarked'] = label_encoder.fit_transform(X_teste['Embarked'])

In [ ]:
X_treino

     PassengerId  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0              1       3    1  22.000000      1      0   7.2500         2
1              2       1    0  38.000000      1      0  71.2833         0
2              3       3    0  26.000000      0      0   7.9250         2
3              4       1    0  35.000000      1      0  53.1000         2
4              5       3    1  35.000000      0      0   8.0500         2
..           ...     ...  ...        ...    ...    ...      ...       ...
886          887       2    1  27.000000      0      0  13.0000         2
887          888       1    0  19.000000      0      0  30.0000         2
888          889       3    0  29.881138      1      2  23.4500         2
889          890       1    1  26.000000      0      0  30.0000         0
890          891       3    1  32.000000      0      0   7.7500         1

[891 rows x 8 columns]

In [ ]:
X_teste

     PassengerId  Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0            892       3    1  34.500000      0      0    7.8292         1
1            893       3    0  47.000000      1      0    7.0000         2
2            894       2    1  62.000000      0      0    9.6875         1
3            895       3    1  27.000000      0      0    8.6625         2
4            896       3    0  22.000000      1      1   12.2875         2
..           ...     ...  ...        ...    ...    ...       ...       ...
413         1305       3    1  29.881138      0      0    8.0500         2
414         1306       1    0  39.000000      0      0  108.9000         0
415         1307       3    1  38.500000      0      0    7.2500         2
416         1308       3    1  29.881138      0      0    8.0500         2
417         1309       3    1  29.881138      1      1   22.3583         0

[418 rows x 8 columns]

In [ ]:
y_treino.value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [ ]:
from imblearn.over_sampling import SMOTE
smote = SMOTE(sampling_strategy='minority')
X_treino_over, y_treino_over = smote.fit_resample(X_treino, y_treino)

In [ ]:
y_treino_over.value_counts()

Survived
0    549
1    549
Name: count, dtype: int64

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_treino_over = scaler.fit_transform(X_treino_over)
X_teste = scaler.fit_transform(X_teste)

In [ ]:
from sklearn.linear_model import LogisticRegression
logistic_regression = LogisticRegression()
logistic_regression.fit(X_treino_over, y_treino_over)

LogisticRegression()

In [ ]:
previsoes = logistic_regression.predict(X_teste)

In [ ]:
sub = pd.Series(previsoes, index=teste['PassengerId'], name='Survived')
sub.shape

(418,)

In [ ]:
sub.to_csv('previsoes.csv', header=True)

In [ ]:
!head -n10 previsoes.csv

PassengerId,Survived
892,0
893,1
894,0
895,0
896,1
897,0
898,1
899,0
900,1